<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSLA-Core" version="4.5.600" targetFramework="net40-Client" />
  <package id="CSLA-WindowsForms" version="4.5.600" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40-Client" />
</packages>