<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSLA-Core" version="4.6.603" targetFramework="win81" />
  <package id="Microsoft.Composition" version="1.0.31" targetFramework="win81" />
  <package id="System.Composition" version="1.1.0" targetFramework="win81" />
  <package id="System.Composition.AttributedModel" version="1.1.0" targetFramework="win81" />
  <package id="System.Composition.Convention" version="1.1.0" targetFramework="win81" />
  <package id="System.Composition.Hosting" version="1.1.0" targetFramework="win81" />
  <package id="System.Composition.Runtime" version="1.1.0" targetFramework="win81" />
  <package id="System.Composition.TypedParts" version="1.1.0" targetFramework="win81" />
</packages>