<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CslaDataPortalProxy" value="CslaContrib.ObjectCaching.CacheDataPortal, CslaContrib.ObjectCaching" />
    <add key="CachingProvider" value="CslaContrib.ObjectCaching.AppFabric.CacheProvider, CslaContrib.ObjectCaching.AppFabric" />
  </appSettings>
</configuration>
