<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Key to define the CSLA security model -->
    <add key="CslaAuthentication" value="Csla" />

    <!-- Key to define the ProjectTracter database configuration file -->
    <add key="DB:PTracker" value="ProjectTracker.hibernate.cfg.xml" />
    
    <!-- Key to define the Security database configuration file -->
    <add key="DB:Security" value="Security.hibernate.cfg.xml" />
  </appSettings>
  <connectionStrings>
    <add name="PTracker" 
			 connectionString="Server=.;Database=ProjectTracker;User ID=rdz;Password=rdz;"
			 providerName="System.Data.SqlClient" />
    <add name="Security" 
			 connectionString="Server=.;Database=Security;User ID=rdz;Password=rdz;"
			 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>